<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

    <ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 30">
        <li class="uk-width-2-2">
            <div class="uk-cover-container">
                <img src="https://images.pexels.com/photos/11710659/pexels-photo-11710659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" uk-cover>
                <div class="uk-position-center uk-panel"><h1>1</h1></div>
            </div>
        </li>
        <li class="uk-width-2-2">
            <div class="uk-cover-container">
                <img src="https://images.pexels.com/photos/13916942/pexels-photo-13916942.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" uk-cover>
                <div class="uk-position-center uk-panel"><h1>2</h1></div>
            </div>
        </li>
        <li class="uk-width-2-2">
            <div class="uk-cover-container">
                <img src="https://images.pexels.com/photos/11165457/pexels-photo-11165457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" uk-cover>
                <div class="uk-position-center uk-panel"><h1>3</h1></div>
            </div>
        </li>
        <li class="uk-width-2-2">
            <div class="uk-cover-container">
                <img src="https://images.pexels.com/photos/6851257/pexels-photo-6851257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" uk-cover>
                <div class="uk-position-center uk-panel"><h1>4</h1></div>
            </div>
        </li>
        <li class="uk-width-2-2">
            <div class="uk-cover-container">
                <img src="https://images.pexels.com/photos/5525059/pexels-photo-5525059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" uk-cover>
                <div class="uk-position-center uk-panel"><h1>5</h1></div>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>